:root {
    --fuenteParrafos: 'Open Sans', sans-serif;
    /* colores */
    --primario: #f0f0f0dd;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #5e5d5d;
}
/* aplica un modelo de diseño de caja natural a todos los elementos */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--primario);
    width: 100vw;
    height: 100vh;
    background-color: var(--blanco);
}
/* GLOBALES */
/* GLOBALES */
.contenedor {
    width: 95%;
    margin: 0 auto
}
a {
    text-decoration: none;
    color: var(--negro);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;

}
h3 {
    font-size: 2rem;

}
h4 {
    font-size: 1.5rem;
}
img {
    max-width: 100%;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/* Específicos */
.svg_logo {
    margin-right: 0.5rem;
}
.header {
    background-color: var(--primario);
    padding: 1rem 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.time {
    color: var(--gris);
}
.like {
    padding: 1.2rem 1.2rem;
    font-size: 1.5rem;
}
.comments {
    color: var(--gris);
}
/* @media (min-width: 480px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
} */